.student-table {
}

.table thead th {
  font-weight: normal;
}

.sidenav.student-nav {
  flex: 1;
}

.icon.ion-arrow-swap {
  filter: invert(54%);
}

#s-btngroup .btn.btn-primary {
  text-transform: none !important;
  color: #f3f3f3;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: rgba(138,62,252,0.8) !important;
}

#s-btngroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#content-s-content {
  padding-left: 1rem;
  padding-right: 1rem;
}

